<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer [mode]="mode" [(opened)]="opened" class="bottom-to-top">
      <div class="cuadro">
        <p>AV. 27 de Octubre N° 504</p><br>
        <p>Cajaruro</p>
      </div>
    <div class="my-4" style="width: 100%; text-align: center;">
      <button mat-flat-button color="white" style=" font-size: 18px;" (click)="OpenCategory()">Category</button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
      type="button" mat-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span style="margin-left: 20px;">MultiServicios Bianca</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <span class="material-icons">
          shopping_cart
          </span>
      </button>
    </mat-toolbar>
    <div class="px-3 py-4">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

