.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.example-spacer {
  flex: 1 1 auto;
}
mat-sidenav {
  width: 250px;
}
.bottom-to-top {
  border: 0;
  border-right: 1px;
  border-style: solid;
  border-image:
    linear-gradient(to top, #c1c1c1, rgba(0, 0, 0, 0)) 1 100%
}
.cuadro{
  height: 140px;
  width: 100%;
  background-color: #1922EA;
  text-align: center;
  padding-top: 50px;
}
