.containercard{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.example-card {
  max-width: 400px;
  min-width: 300px;
  margin-top: 50px;
}
.example-full-width {
  max-width: 250px;
}
